body {
	font-family: 'Open Sans', sans-serif;
}

p, button,span,div {
	font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto', sans-serif;
}

.body-container {
	position: relative;
}

.header {
	background: #262626;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}

.header h3 { 
	color: #fafafa; 
	font-weight: 100; 
	text-align: center;
	text-transform: uppercase;
	padding: 15px 10px;
}

.map-container {
	background: #e5e5e5;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.map-container #googleMap {

}

.btn-container {
	position: absolute;
	top: 85vh;
	left: 50vw;
	margin: 0 0 0 -90px;
	z-index: 5;
}

.btn-container .btn {
	padding: 15px 60px;
	font-size: 1.125em;
}

#btn-search { text-transform: uppercase; font-weight: 100; }

#btn-search i { margin-right: 10px; font-size: 1.33333; line-height: 1.1; }

.modal-container {
	max-width: 450px;
	margin: 0 auto;
	padding: 25px;
	background: #fafafa;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* modal css */

.stalk-mfp-zoom-in.mfp-bg {
  z-index: 1100;
}

.stalk-mfp-zoom-in.mfp-wrap {
  z-index: 1101;
}

.stalk-mfp-zoom-in .mfp-preloader {
  z-index: 1102;
}

.stalk-mfp-zoom-in .mfp-content {
  z-index: 1103;
}

.stalk-mfp-zoom-in button.mfp-close, 
.stalk-mfp-zoom-in button.mfp-arrow {
  z-index: 1104;
}

.stalk-mfp-zoom-in button.mfp-close { display: none; }

.stalk-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.35s ease-in-out; 
  -moz-transition: all 0.35s ease-in-out; 
  -o-transition: all 0.35s ease-in-out; 
  transition: all 0.35s ease-in-out; 
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
}

.stalk-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1); 
  -moz-transform: scale(1); 
  -ms-transform: scale(1); 
  -o-transform: scale(1); 
  transform: scale(1); 
}

.stalk-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8); 
  -moz-transform: scale(0.8); 
  -ms-transform: scale(0.8); 
  -o-transform: scale(0.8); 
  transform: scale(0.8); 
  opacity: 0;
}

.stalk-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.35s ease-out; 
  -moz-transition: all 0.35s ease-out; 
  -o-transition: all 0.35s ease-out; 
  transition: all 0.35s ease-out;
}
/* animate in */
.stalk-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
/* animate out */
.stalk-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

#stalkModal #content h3 {
	padding-bottom: 15px;
	margin: 0 0 15px 0;
	border-bottom: 1px solid #ddd;
	font-weight: 100;
}