#btn-location{
	margin-bottom: 15px;
	margin-top: 15px;
}

#btn-search{
	margin-top: 25px;
}

#header{
	background-color: black;
	height: 25px;
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.select2-dropdown{
	z-index: 1200!important;
}

.select2-container{
	margin-bottom: 20px!important;
}

#fromLocation, #finalLocation, #busRoute{
	width:100%;

}

