/* result box */
#stalk-result-box {
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 5;
	max-width: 400px;
	width: 100%;
	padding: 20px;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.15);
}

#stalk-result-box.stalk-result-show {
	display: block;
}

#stalk-result-box .bus-color-yellow {
	display: inline-block;
	background: #ed9c28;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#stalk-result-box .bus-color-blue {
	display: inline-block;
	background: #39b3d7;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

#stalk-result-box thead {
	font-weight: 700;
}

#stalk-result-box thead tr {
	background: #e5e5e5;
}